SA_PASSWORD=Senha@123
DB_CONNECTION=Server=sqlserver;Database=PedidoDB;User Id=sa;Password=Senha@123;TrustServerCertificate=True;
KAFKA_SERVERS=redpanda:9092
KAFKA_TOPIC=orders
KAFKA_GROUP_ID=pedidos-worker-group